body{
    background: linear-gradient(to right, #050607, #F3AD33, #20B9AA, #7172E5, #050607 );
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
}

#imagem{
    width: 255px;
}
#info{
    text-align: center;
    justify-content: center;
    margin: 1.5rem 0 0.7rem 0;
    display: flex;
    flex-direction: column;

}

button{
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
}
#avançar, #voltar{
    font-size: 2rem;
}

#playpause{
    font-size: 3rem;
}

#botões{
    justify-content: space-around;
    display: flex;

}